image: alpine:latest

stages:
  - deploy

deploy_to_github:
  stage: deploy
  script:
    - apk add --no-cache git openssh-client
    - mkdir -p ~/.ssh
    - echo -n $GITHUB_SSH_KEY | tr -d '\r' > ~/.ssh/id_rsa  # 这里的GITHUB_SSH_KEY是你的GitHub仓库的SSH密钥
    - chmod 600 ~/.ssh/id_rsa
    - echo -e "Host github.com\n\tStrictHostKeyChecking no\n\n" >> ~/.ssh/config
    - set -e
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - export GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
    - git remote add github git@github.com:geekfrog/SecureLog.git  # 替换<username>和<repository>为你的GitHub用户名和仓库名
    - git push -f github HEAD:main  # 强制推送到GitHub的main分支，确保使用的是正确的分支名
